spring:
  application:
    name: demo
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/test
    username: postgres
    password: 123
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
